.single-card {
    border: .3rem solid teal;
    color: teal;
    font-weight: 600;
    border-radius: .2rem;
    margin: 1rem;
    padding: .5rem;
    background-color: aliceblue;
}

button {
    color: white;
    background-color: teal;
    border: .1rem solid white;
    border-radius: .1rem;
    padding: .3rem;
    width: 9rem;
}